.header {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    &--title {
        text-transform: uppercase;
        color: $green;
    }
    &--subtitle {
        text-transform: lowercase;
        color: white;
    }
}