.main {
  width: 1240px;
  &--title {
    color: white;
    text-transform: capitalize;
    padding: 5px;
  }
  &--form {
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  &--searchIcon {
    font-size: 22px;
    color: white;
    padding: 5px;
  }
  &--input {
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    width: 350px;
    font-family: rubik;
    padding: 5px;
    border: none;
  }
  &--button {
    margin: 5px;
    border-radius: 5px;
    background-color: $green;
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 16px;
    height: 35px;
    width: 90px;
    border: none;
    transition: all 0.1s linear;
    &:hover {
      background-color: $green-hover;
    }
    &Fav {
      margin: 5px;
      border-radius: 5px;
      color: white;
      background-color: black;
      border: 2px solid white;
      text-transform: uppercase;
      font-family: $main-font;
      font-size: 16px;
      height: 35px;
      width: 180px;
      transition: all 0.1s ease-in;
      &:hover {
        border: 1.5px solid white;
      }
    }
  }
}
.results {
  margin-top: 20px;
  display: flex;
  width: 100%;
  &--fav {
    width: 25%;
  }
  &--shows {
    width: 75%;
  }
}

.container {
  &--fav {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--shows {
    margin-top: 45px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &--title {
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    text-transform: uppercase;
  }
}

.show--preview {
  width: 290px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding-bottom: 10px;
  &__fav {
    color: $green;
    width: 290px;
    height: 170px;
    border: 2px solid $green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  &.favorite {
    border: 2px solid $green;
    border-radius: 5px;
    transition: all 0.1s ease-out;
    &:hover {
      color: $green-hover;
    }
  }
}

.fav--remove__icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $green;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: white;
  }
}

.preview {
  &--title {
    width: 220px;
    height: 70px;
    margin: 5px 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &--image {
    width: 220px;
    height: 295px;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s ease-out;
    &:hover {
      // opacity: 0.5;
      transform: scale(101%);
    }
  }
  &--synopsis {
    color: white;
    font-size: 14px;
  }
}

.show--preview__fav .preview--image {
  width: 110px;
  height: 147px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  order: -1;
}

.hidden {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
