*{
  font-family: rubik;
}

.results {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fav--container {
  width: 25%;
  margin: 5px;
  background-color: black;
  color: white;
}

.shows--container {
  width: 45%;
  background-color: black;
  margin: 5px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.show--preview {
  width: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite {
  background-color: white;
  color: black;
}

.title--preview {
  text-align: center;
  width: 220px;
  margin: 5px 0;
  font-size: 15px;
}

.image--preview {
  width: 220px;
  height: 295px;
  border-radius: 5px;
  margin: 5px;
  &:hover {
    // opacity: 0.5;
    transform: scale(1.01);
  }
}

// .synopsis--preview {

// }

.hidden {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
